<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProvaTecnicasProgramacao.Properties.Settings.csProvaTP"
            connectionString="Data Source=ALEXANDRE-SENAI;Initial Catalog=bdProvaTecnicasProgranacao;User ID=sa;Password=sa12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>